<div>
  <h1>{{game.nom}}</h1>
  <div *ngIf="game.url_media">
    <img class="game_image" src="{{game.url_media}}">
  </div>
  <h2>Mécaniques :</h2>
  <ul>
    <li *ngFor="let mech of mechanics">{{mech}}</li>
  </ul>

  <h2>Thème : {{game.theme_id.nom}} </h2>
  <h2>Règles : </h2>
  <p>{{game.regles}}</p>

  <h2>Catégorie : {{game.categorie}}</h2>
  <h2>Langue : {{game.langue}}</h2>
  <h2>Editeur : {{game.editeur_id.nom}}</h2>
  <h2>Nombre de joueurs : {{game.nombre_joueurs}}</h2>
  <h2>Age minimum : {{game.age}}</h2>
  <h2>Poids : {{game.poids}}</h2>
  <h2>Durée : {{game.duree}}</h2>

  <div *ngIf="authService.isLoggedIn$|async; else mustLogin">
    <h1>Ajouter un commentaire</h1>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <textarea id="commentaire" type="text" pInputText placeholder="commentaire" aria-describedby="commentaire-help" formControlName="commentaire"></textarea>
        <small *ngIf="commentaire.invalid && commentaire.touched"  id="commentaire-help" class="p-error">
          <ng-container *ngIf="commentaire.errors?.required">
            <app-error-message [message]="'Un commentaire est obligatoire'"></app-error-message>
          </ng-container>
        </small>
      </div>
      <div class="p-field">
        <input id="note" type="text" pInputText placeholder="note" aria-describedby="note-help" formControlName="note">
        <small *ngIf="note.invalid && note.touched"  id="note-help" class="p-error">
          <ng-container *ngIf="note.errors?.required">
            <app-error-message [message]="'Une note est obligatoire'"></app-error-message>
          </ng-container>
          <ng-container *ngIf="note.errors?.min">
            <app-error-message [message]="'La note doit être supérieure ou égale à 0'"></app-error-message>
          </ng-container>
          <ng-container *ngIf="note.errors?.max">
            <app-error-message [message]="'La note doit être inférieure ou égale à 5'"></app-error-message>
          </ng-container>
        </small>
      </div>
        <a class="button__link">
          <button class="button__btn-big" type="submit">Commenter</button>
        </a>

    </form>
  </div>
  <ng-template #mustLogin>
    <h2 style="color: indianred">Connectez vous pour ajouter un commentaire</h2>
  </ng-template>
  <h2>Commentaires :</h2>
  <ul>
    <li *ngFor="let commentaire of commentaireGame">
      <p>{{commentaire.date_com}}</p>
      <h1>{{commentaire.user.nom}}</h1>
      <p>{{commentaire.commentaire}}</p>
      <p>Note: {{commentaire.note}}/5</p>
    </li>
  </ul>
</div>
