<div>
  <h1>{{game.nom}}</h1>
  <div *ngIf="game.url_media">
    <img src="{{game.url_media}}">
  </div>
  <h2>Mécaniques :</h2>
  <ul>
    <li *ngFor="let mech of mechanics">{{mech}}</li>
  </ul>

  <h2>Thème : {{game.theme_id.nom}} </h2>
  <h2>Règles : </h2>
  <p>{{game.regles}}</p>

  <h2>Catégorie : {{game.categorie}}</h2>
  <h2>Langue : {{game.langue}}</h2>
  <h2>Editeur : {{game.editeur_id.nom}}</h2>
  <h2>Nombre de joueurs : {{game.nombre_joueurs}}</h2>
  <h2>Age minimum : {{game.age}}</h2>
  <h2>Poids : {{game.poids}}</h2>
  <h2>Durée : {{game.duree}}</h2>
</div>
