<!--<ul>-->
<!--  <li *ngIf="authService.isLoggedOut$ | async"><a [routerLink]="['/login']">Login</a></li>-->
<!--  <li *ngIf="authService.isLoggedIn$ | async"><a [routerLink]="['/profile']">Profile</a></li>-->
<!--  <li *ngIf="authService.isLoggedIn$ | async"><button (click)="logout()">logout</button></li>-->
<!--  <li><a [routerLink]="['/ro']">Exo RO</a></li>-->
<!--</ul>-->
<!--<router-outlet></router-outlet>-->

<!--<p-toast position="top-right" key="main"></p-toast>-->

<!--<button (click)="show()">test</button>-->


<header>
  <h3><a [routerLink]="['/home']">Nom du site</a></h3>
  <ul>
    <div *ngIf="authService.isLoggedIn$ | async;then logged; else notLogged">
    </div>

    <ng-template #logged>
      <li>
        <a [routerLink]="['/profile']">Profil</a>
      </li>
      <li>
        <a [routerLink]="['/add-game']">Ajouter jeu</a>
      </li>
    </ng-template>

    <ng-template #notLogged>
      <li>
        <a [routerLink]="['/login']">Connexion</a>
      </li>
      <li>
        <a [routerLink]="['/register']">Inscription</a>
      </li>
    </ng-template>
    <li>
      <a [routerLink]="['/games']">Jeux</a>
    </li>
  </ul>

  <router-outlet>
  </router-outlet>
</header>
