<header>
    <div class="header__container">
      <div class="header-left">
        <a [routerLink]="['/']">
          <img src="./assets/logo-ranch.svg" draggable="true" alt="logo-ranch" class="header__logo">
        </a>
        <a [routerLink]="['/games']">Jeux</a>
      </div>

      <div class="header-right">
        <a [routerLink]="['/profile']">
          <div class="header__profile" *ngIf="authService.isLoggedIn$ | async"></div>
        </a>
        <div class="header__container-arrow" id="header__dropmenu" *ngIf="authService.isLoggedIn$ | async; then loggedIn else notLogged">
        </div>
      </div>
    </div>
  </header>

    <ng-template #loggedIn>
      <select class="menu-select">
        <option [routerLink]="['/profile']">Profil</option>
        <option [routerLink]="['/add-game']">Ajouter jeu</option>
        <option (click)="logout()">Déconnexion</option>
      </select>
    </ng-template>

    <ng-template #notLogged>
      <a [routerLink]="['/login']">Connexion</a>
      <a [routerLink]="['/register']">S'enregistrer</a>
    </ng-template>


<section class="homepage">
  <div class="homepage__container">
    <router-outlet>
    </router-outlet>
  </div>
</section>

<footer>
  <div>© 2021 Ranch Industries</div>
</footer>


