<div>
  <p>Filtrer</p>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <div>
      <label for="age">Age</label>
      <input type="number" id="age" formControlName="age" aria-describedby="age-help">
      <small *ngIf="age.invalid && age.touched"  id="age-help" class="p-error">Superieur à 0</small>
    </div>
    <div>
      <label for="nombreJoueurs">Nombre de joueurs</label>
      <input type="number" id="nombreJoueurs" formControlName="nombreJoueurs" aria-describedby="nombreJoueurs-help">
      <small *ngIf="nombreJoueurs.invalid && nombreJoueurs.touched"  id="nombreJoueurs-help" class="p-error">Superieur à 0</small>
    </div>
    <div>
      <label for="editor">Editeur</label>
      <select id="editor" name="editor" formControlName="editeur">
        <option *ngFor="let editor of editors" [ngValue]="editor.id">{{editor.nom}}</option>
      </select>
    </div>
    <div>
      <label for="Theme">theme</label>
      <select id="theme" name="theme" formControlName="theme">
        <option *ngFor="let theme of themes" [ngValue]="theme.id">{{theme.nom}}</option>
      </select>
    </div>

    <button type="submit" label="Filtrer" [disabled]="!filterForm.valid">Filtrer</button>
  </form>
</div>

<div>
  <label for="tri">Trier</label>
  <select id="tri" name="tri">
    <option value="nom" (click)="sort('nom')">Nom</option>
    <option value="note" (click)="sort('note')">Note</option>
  </select>
</div>

<div class="homepage__card-container-inner">
  <app-game-card *ngFor="let game of gameList" [game]="game"></app-game-card>
</div>
